* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: grey;
  height: 100px;
}

.links ul{
  list-style: none;
}


.links li {
  display: inline;
  border-radius: 25px;
  padding: 7px;
  margin: 5em;

}

.links li a {
  text-decoration: none;
  color: white;
}

.links li:hover {
  background-color: rgb(226, 171, 21);
}
