@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: black;
  height:100%;
}

.navbar {
  background-image: url("../icons/background.png");
  background-color: grey;
  font-family: Cinzel,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
}

.logo {
  height: 50%;
  display: flex;
  /* justify-content: center; */
}

.logo-text{
  margin-top: 0.5em;
  font-size: 3em;
  color: rgba(251,231,181,255);
}

.logo-text-left{
  width: 45%;
  text-align: right;
}

.logo-pic {
  display: flex;
  justify-content: center;
  width: 10%;
}

.logo-text-right{
  width: 45%;
}

.navbar-list {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.navbar-list-section {
  display: inline;
  width: 20%;
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 1em;
}

.navbar-list-item {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 0.5em;
  padding: 0.5em;
  color: white;
  font-size: 1.5em;
  border-radius: 50px;
}

.navbar-list-item-menu{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 3.25em;
  border-radius: 50px;
}

.navbar-list-item:hover {
  background-color: rgba(255,215,0,0.2);
}

.navbar-list-item-menu:hover {
  background-color: rgba(255,215,0,0.2);
}
