@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.sub-menu {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.dragon {
  float: right;
  padding-top: 23%;
}

.sub-menu-text {
  color: white;
  font-size: 5em;
  font-family: Cinzel;
  letter-spacing: 0.05em;
  position: absolute;
  bottom: 0;
  left: 5%;
}

.sub-menu-sub-text {
  color: white;
  font-size: 2em;
  font-family: Cinzel;
  letter-spacing: 0.05em;
  position: absolute;
  bottom: -17%;
  left: 5%;
}

.sub-menu-sub-text:hover  {
  border-width: 6px;
  border-style: solid;
  border-color: rgba(255,215,0,0.2);
}

.meal {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.meal .meal-pic {

}

footer {
  display: block;
  align-content: center;
  color: rgba(251,231,181,255);
  background-image: url("../icons/background.png");
  font-size: 2em;
}

footer .footer {
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
