@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.topic {
  background-image: url("../backgrounds/uber_uns.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
}

.topic p {
  margin-top: 3em;
  margin-left: 1em;
  font-size: 3em;
  font-family: Cinzel;
}

.img-leistungen-pc {
  width: 100%;
}
.img-leistungen-phone {
  display: none;
}

.hier {
  background-color: rgba(255,215,0,0.2);
}


@media only screen and (max-width: 500px) {
  .topic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    height: 48%;
  }

  .topic p {
    margin-top: 1.5em;
    margin-left: 0.5em;
    font-size: 2.5em;
  }

  .img-leistungen-pc {
    display: none;
  }

  .img-leistungen-phone {
    display: block;
    width: 100%;
    margin-bottom: 2vh;
  }
}
