@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.topic {
  background-image: url("../backgrounds/unsere-leistungen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
}

.topic p {
  margin-top: 5em;
  margin-left: 1em;
  font-size: 3em;
  font-family: Cinzel;
}

.uberUns-text {
  padding: 2em 2em;
  font-size: 2em;
  color: #8c8c8c;
  text-align: justify;
}

.uber-uns-pc {
  width: 100%;
  padding-bottom: 3em;
}

.uber-uns-phone {
  display: none;
}

.hier {
  background-color: rgba(255,215,0,0.2);
}


@media only screen and (max-width: 500px) {
  .topic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 68%;
    height: 50%;
  }

  .topic p {
    margin-top: 1.5em;
    margin-left: 0.5em;
    font-size: 2.5em;
  }

  .uberUns-text {
    max-width: 100%;
    margin: 2vh 6vw;
    font-size: 1.5em;
    text-align: left;
  }

  .uber-uns-pc {
    display: none;
  }

  .uber-uns-phone {
    display: block;
    width: 100%;
    margin-bottom: 2vh;
  }
}
